body {
  background-color: #e8e8e8;
}

#new-blog-post {
  border: 1px solid black;
  background-color: #ffffff;
  display: inline-block;
  width: 500px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
}

#new-blog-title-input {
  margin-bottom: 8px;
}

#new-blog-main-text {
  margin-top: 8px;
  height: 200px;
}

#new-blog-title-input, #new-blog-main-text {
  width: 494px;
}

#create-button {
  float: right;
}

.container {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
